@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

:root {
    --red: #ff3860;
    --red2:rgb(255, 56, 56);
    --red-dark: #ff1443;
    --red-darker: #dc2626;
    --red-light: #ff5c7c;
    --blue: #498afb;
    --blue-dark: #2674fa;
    --blue-light: #6ca0fc;
    --orange: #fa8142;
    --orange-dark: #f96a1f;
    --orange-light: #fb9865;
    --green: #09c372;
    --green-dark: #07a15e;
    --green-darker: #05633a;
    --green-light: #0be586;
    --purple: #9166cc;
    --purple-dark: #7d4bc3;
    --purple-light: #a481d5;
    --pink: #ff4088;
    --pink-dark: #ff1c72;
    --pink-light: #ff649e;
    --yellow: #eab308;
    --yellow-light: #fdd353;
    --gray0: #f8f8f8;
    --gray1: #dbe1e8;
    --gray2: #b2becd;
    --gray3: #6c7983;
    --gray4: #454e56;
    --gray5: #2a2e35;
    --gray5t: #0000005b;
    --gray6: #12181b;
    --gray7: #0b0d0e;
    --font-body: "sofia-pro",'Poppins',sans-serif;
    --font-head: "Tilt Neon",'Poppins', sans-serif;
    --font-code: "attribute-mono",'Poppins',monospace;
    --bg: rgba(0, 0, 0, 0.1);

    --stone050: #fafafa;
    --stone100: #f5f5f4;
    --stone150: #EEEDEC;
    --stone200: #e7e5e4;
    --stone300: #c9c6c3;
    --stone350: #d6d3d1;
    --stone400: #a8a29e;
    --stone500: #78716c;
    --stone600: #57534e;
    --stone700: #44403c;
    --stone800: #292524;
    --stone900: #1c1917;
    --stone950: #0c0a09;
}

*{
    font-family: 'Poppins';
    color: white;
}

footer{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

body{
    height: 100vh;
    background: linear-gradient(to bottom, #9cc8dd, #6aa0b7);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

/* ------------------------------------ - ----------------------------------- */

#inputDiv{
    width: 25vw;
    display: flex;
    gap: 10px;
}
#inputDiv input, #inputDiv button{
    padding: 3px 10px;
    border-radius: 9999px;
    font-size: 0.9em;
    border: none;
    color: black;
}
#inputDiv input{
    flex-grow: 1;
}
#inputDiv button{
    cursor: pointer;
}
#inputDiv button:active{
    outline: 2px solid black;
}

/* ------------------------------------ - ----------------------------------- */

#currentData{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 40vw;
}
#currentDisplay{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5vw;
}
#currentDisplay > div{
    background-color: var(--bg);
    padding: 20px 25px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#currentTemp h4{
    font-size: 4em;
    font-weight: 200;
}
#currentTemp div{
    display: flex;
    gap: 15px;
}
#currentWeather img{
    flex-grow: 1;
}


/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

#forecast{
    width: 45vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.forecastDay{
    background-color: var(--bg);
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
}
.dayHeader{
    display: flex;
    align-items: center;
    gap: 10px;
    border-right: 1px solid gray;
    padding-right: 20px;

}
.dayHeader h5{
    font-size: 1.5em;
    margin-bottom: -0.3em;
}
.dayHeader h6{
    font-size: 1em;
    font-weight: 300;
}
.dayHeader img{
    height: 5em;
}

.dayAttributes{
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr 1fr;
}

.dayAttribute{
    display: flex;
    gap: 10px;
}
.dayAttribute p{
    font-size: 1.3em;
}
.dayAttribute img{
    height: 2em;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(105%) contrast(103%);
}
.dayAttribute img:nth-child(3){
    margin-left: -10px;
}
.dayAttribute > div > p:nth-child(2){
    font-weight: 200;
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

#today{
    background-color: var(--bg);
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    scale: 0.9;
}
#today > div{    
    width: 50vw;
    display: flex;
    overflow-x: scroll;
}
.hour{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
}
.hour > div{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.hour h4{
    font-size: 1.2em;
}
.hour > img{
    height: 4em;
}
.hour > p{
    font-size: 1.1em;
}
.hour > div > img{
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(236deg) brightness(105%) contrast(103%);
    height: 1em;
}
.hour > div > p{
    font-weight: 200;
}